footer{
    color: $fuente-principal;
    font-family: sans-serif;
    border: solid 10px black;
    background-color: rgba(27, 26, 26, 0.344);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/k.jpg);
}